# ignore all files in this dir...
*.*
# ... except the .gitignore...
!.gitignore
# ... and all sas and sql files.
!*.sas
!*.sql
!*.mac
!*.inc
!*.pgm
!*.hql
!*.py
!*.r
!*.R
!*.Rmd
!*.macro
!*.code
!*.ipynb
!*.txt
.Rproj.user
.httr-oauth